body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}

.app-container {
  width: 400px;
  max-width: 100%;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}
